<a href="https://colab.research.google.com/github/khacnhuan14102002/20130090_HuynhKhacNhuan_BaitapML/blob/main/Lab_6_201300690_HuynhKhacNhuan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This lab is to deal with classification task using **Random Forests** and **Naïve Bayes** algorithms with/without **Feature Selection**. 

*   **Deadline: 23:59, 25/03/2023**

# Import libraries

In [ ]:
# code
from sklearn import datasets
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from prettytable import PrettyTable
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from numpy import set_printoptions
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.ensemble import ExtraTreesClassifier

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/MachineLearning'

Mounted at /content/gdrive
/content/gdrive/MyDrive/MachineLearning

#Task 1. 
Task 1. Compare the performance of selected classification algorithms including **Random forest**, **NaiveBayes**, and **SVM** with **mnist** dataset based on **accuracy, precision, recall, f1** measures according to **without using selection feature** and **using selection feature**.

In [ ]:
# code
datas = datasets.load_digits()

In [ ]:
y = datas.target
X = datas.data

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [ ]:
clf=RandomForestClassifier(n_estimators=100)
#Train the model using the training sets
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [ ]:
accuracy_clf = round(accuracy_score(y_test, y_pred),3)
precision_clf = round(precision_score(y_test, y_pred, average='weighted'),3)
recall_clf = round(recall_score(y_test, y_pred, average='weighted'),3)
f1_clf = round(f1_score(y_test, y_pred, average='weighted'),3)

In [ ]:
model = GaussianNB()
model.fit(X_train, y_train)
y_pred_gau = model.predict(X_test)

In [ ]:
accuracy_gau = round(accuracy_score(y_test, y_pred_gau),3)
precision_gau = round(precision_score(y_test, y_pred_gau, average='weighted'),3)
recall_gau = round(recall_score(y_test, y_pred_gau, average='weighted'),3)
f1_gau = round(f1_score(y_test, y_pred_gau, average='weighted'),3)

In [ ]:
svm_rbf = svm.SVC(kernel='rbf')
svm_rbf.fit(X_train, y_train)
y_pred_rbf = svm_rbf.predict(X_test)

In [ ]:
accuracy_svm = round(accuracy_score(y_test, y_pred_rbf),3)
precision_svm = round(precision_score(y_test, y_pred_rbf, average='weighted'),3)
recall_svm = round(recall_score(y_test, y_pred_rbf, average='weighted'),3)
f1_svm = round(f1_score(y_test, y_pred_rbf, average='weighted'),3)

In [ ]:
t = PrettyTable(['','accuracy','precision','recall','f1'])

In [ ]:
t.add_row(['Random forest',accuracy_clf,precision_clf,recall_clf,f1_clf])
t.add_row(['NaiveBayes',accuracy_gau,precision_gau,recall_gau,f1_gau])
t.add_row(['SVM',accuracy_svm,precision_svm,recall_svm,f1_svm])
print(t)

+---------------+----------+-----------+--------+-------+
|               | accuracy | precision | recall |   f1  |
+---------------+----------+-----------+--------+-------+
| Random forest |  0.975   |   0.975   | 0.975  | 0.975 |
|   NaiveBayes  |  0.847   |   0.875   | 0.847  | 0.849 |
|      SVM      |  0.986   |   0.986   | 0.986  | 0.986 |
+---------------+----------+-----------+--------+-------+

#Task 2. 
For given bank dataset (bank.csv) having the following attributes :
1.	**age** (numeric)
2.	**job** : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3.	**marital** : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
4.	**education** (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
5.	**default**: has credit in default? (categorical: 'no','yes','unknown')
6.	**housing**: has housing loan? (categorical: 'no','yes','unknown')
7.	**loan**: has personal loan? (categorical: 'no','yes','unknown')
8.	**contact**: contact communication type (categorical: 'cellular','telephone')
9.	**month**: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
10.	**day_of_week**: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
11.	**duration**: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
12.	**campaign**: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13.	**pdays**: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14.	**previous**: number of contacts performed before this campaign and for this client (numeric)
15.	**poutcome**: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')
Output variable (desired target):
16.	**y**. has the client subscribed a term deposit? (binary: 'yes','no')

In [ ]:
bank_data_set = pd.read_csv('/content/gdrive/MyDrive/MachineLearning/Lab6/bank.csv')

In [ ]:
bank_data_set

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [ ]:
pd.get_dummies(bank_data_set,columns=['age', 'balance', 'day', 'campaign', 'pdays', 'previous'])

,job,marital,education,default,housing,loan,contact,month,duration,poutcome,...,previous_10.981017142034709,previous_11.417335487676661,previous_11.853653833318612,previous_12.289972178960564,previous_12.726290524602517,previous_15.780518944096178,previous_17.08947398102203,previous_17.525792326663986,previous_23.63424916565131,previous_24.943204202577164
0,admin.,married,secondary,no,yes,no,unknown,may,1042,unknown,...,0,0,0,0,0,0,0,0,0,0
1,admin.,married,secondary,no,no,no,unknown,may,1467,unknown,...,0,0,0,0,0,0,0,0,0,0
2,technician,married,secondary,no,yes,no,unknown,may,1389,unknown,...,0,0,0,0,0,0,0,0,0,0
3,services,married,secondary,no,yes,no,unknown,may,579,unknown,...,0,0,0,0,0,0,0,0,0,0
4,admin.,married,tertiary,no,no,no,unknown,may,673,unknown,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,blue-collar,single,primary,no,yes,no,cellular,apr,257,unknown,...,0,0,0,0,0,0,0,0,0,0
11158,services,married,secondary,no,no,no,unknown,jun,83,unknown,...,0,0,0,0,0,0,0,0,0,0
11159,technician,single,secondary,no,no,no,cellular,aug,156,unknown,...,0,0,0,0,0,0,0,0,0,0
11160,technician,married,secondary,no,no,yes,cellular,may,9,failure,...,0,0,0,0,0,0,0,0,0,0
11161,technician,married,secondary,no,no,no,cellular,jul,628,unknown,...,0,0,0,0,0,0,0,0,0,0

#3.1. Apply StandardScaler() function to columns that contains numerical data ('age', 'balance', 'day', 'campaign', 'pdays', 'previous')

In [ ]:
#code
num_data = ['age', 'balance', 'day', 'campaign', 'pdays', 'previous']

In [ ]:
scaler = StandardScaler()

In [ ]:
scaled_data = scaler.fit_transform(bank_data_set[num_data])

In [ ]:
scaled_df = pd.DataFrame(scaled_data, columns=num_data)

In [ ]:
bank_data_set[num_data] = scaled_df

In [ ]:
print(bank_data_set)

            age          job  marital  education default   balance housing  \
0      1.491505       admin.  married  secondary      no  0.252525     yes
1      1.239676       admin.  married  secondary      no -0.459974      no
2     -0.019470   technician  married  secondary      no -0.080160     yes
3      1.155733     services  married  secondary      no  0.293762     yes
4      1.071790       admin.  married   tertiary      no -0.416876      no
...         ...          ...      ...        ...     ...       ...     ...
11157 -0.691015  blue-collar   single    primary      no -0.473616     yes
11158 -0.187357     services  married  secondary      no -0.246658      no
11159 -0.774958   technician   single  secondary      no -0.464934      no
11160  0.148416   technician  married  secondary      no -0.473926      no
11161 -0.607072   technician  married  secondary      no -0.473926      no

      loan   contact       day month  duration  campaign     pdays  previous  \
0       no   unknown -1.265746   may      1042 -0.554168 -0.481184 -0.363260
1       no   unknown -1.265746   may      1467 -0.554168 -0.481184 -0.363260
2       no   unknown -1.265746   may      1389 -0.554168 -0.481184 -0.363260
3       no   unknown -1.265746   may       579 -0.554168 -0.481184 -0.363260
4       no   unknown -1.265746   may       673 -0.186785 -0.481184 -0.363260
...    ...       ...       ...   ...       ...       ...       ...       ...
11157   no  cellular  0.515650   apr       257 -0.554168 -0.481184 -0.363260
11158   no   unknown  0.040612   jun        83  0.547981 -0.481184 -0.363260
11159   no  cellular  0.396891   aug       156 -0.186785 -0.481184 -0.363260
11160  yes  cellular -0.909466   may         9 -0.186785  1.109571  1.818332
11161   no  cellular -0.790707   jul       628 -0.554168 -0.481184 -0.363260

      poutcome deposit
0      unknown     yes
1      unknown     yes
2      unknown     yes
3      unknown     yes
4      unknown     yes
...        ...     ...
11157  unknown      no
11158  unknown      no
11159  unknown      no
11160  failure      no
11161  unknown      no

[11162 rows x 17 columns]

#3.2. Apply Encode Categorical Value (OneHotEncoder) to transfrom categorical data to numerical data ('job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome')

In [ ]:
#code
onehot = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']

In [ ]:
encoder = OneHotEncoder()

In [ ]:
encoded_cols = encoder.fit_transform(bank_data_set[onehot]).toarray()
encoded_df = pd.DataFrame(encoded_cols, columns=encoder.get_feature_names_out(onehot))

In [ ]:
data_concat = pd.concat([bank_data_set.drop(onehot, axis=1), encoded_df], axis=1)

In [ ]:
print(data_concat)
pd.get_dummies(data_concat,columns=['age', 'balance', 'day', 'campaign', 'pdays', 'previous'],drop_first=True)

            age   balance       day  duration  campaign     pdays  previous  \
0      1.491505  0.252525 -1.265746      1042 -0.554168 -0.481184 -0.363260
1      1.239676 -0.459974 -1.265746      1467 -0.554168 -0.481184 -0.363260
2     -0.019470 -0.080160 -1.265746      1389 -0.554168 -0.481184 -0.363260
3      1.155733  0.293762 -1.265746       579 -0.554168 -0.481184 -0.363260
4      1.071790 -0.416876 -1.265746       673 -0.186785 -0.481184 -0.363260
...         ...       ...       ...       ...       ...       ...       ...
11157 -0.691015 -0.473616  0.515650       257 -0.554168 -0.481184 -0.363260
11158 -0.187357 -0.246658  0.040612        83  0.547981 -0.481184 -0.363260
11159 -0.774958 -0.464934  0.396891       156 -0.186785 -0.481184 -0.363260
11160  0.148416 -0.473926 -0.909466         9 -0.186785  1.109571  1.818332
11161 -0.607072 -0.473926 -0.790707       628 -0.554168 -0.481184 -0.363260

      deposit  job_admin.  job_blue-collar  ...  month_jun  month_mar  \
0         yes         1.0              0.0  ...        0.0        0.0
1         yes         1.0              0.0  ...        0.0        0.0
2         yes         0.0              0.0  ...        0.0        0.0
3         yes         0.0              0.0  ...        0.0        0.0
4         yes         1.0              0.0  ...        0.0        0.0
...       ...         ...              ...  ...        ...        ...
11157      no         0.0              1.0  ...        0.0        0.0
11158      no         0.0              0.0  ...        1.0        0.0
11159      no         0.0              0.0  ...        0.0        0.0
11160      no         0.0              0.0  ...        0.0        0.0
11161      no         0.0              0.0  ...        0.0        0.0

       month_may  month_nov  month_oct  month_sep  poutcome_failure  \
0            1.0        0.0        0.0        0.0               0.0
1            1.0        0.0        0.0        0.0               0.0
2            1.0        0.0        0.0        0.0               0.0
3            1.0        0.0        0.0        0.0               0.0
4            1.0        0.0        0.0        0.0               0.0
...          ...        ...        ...        ...               ...
11157        0.0        0.0        0.0        0.0               0.0
11158        0.0        0.0        0.0        0.0               0.0
11159        0.0        0.0        0.0        0.0               0.0
11160        1.0        0.0        0.0        0.0               1.0
11161        0.0        0.0        0.0        0.0               0.0

       poutcome_other  poutcome_success  poutcome_unknown
0                 0.0               0.0               1.0
1                 0.0               0.0               1.0
2                 0.0               0.0               1.0
3                 0.0               0.0               1.0
4                 0.0               0.0               1.0
...               ...               ...               ...
11157             0.0               0.0               1.0
11158             0.0               0.0               1.0
11159             0.0               0.0               1.0
11160             0.0               0.0               0.0
11161             0.0               0.0               1.0

[11162 rows x 52 columns]

,duration,deposit,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,...,previous_10.98101714203471,previous_11.417335487676663,previous_11.853653833318614,previous_12.289972178960566,previous_12.726290524602518,previous_15.78051894409618,previous_17.089473981022035,previous_17.52579232666399,previous_23.634249165651312,previous_24.943204202577167
0,1042,yes,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,1467,yes,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,1389,yes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,579,yes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,673,yes,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,257,no,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
11158,83,no,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
11159,156,no,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
11160,9,no,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
11161,628,no,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

#3.3. Apply **Decision tree, Random forest, kNN, NaïveBayes** to preproceed dataset in the previous steps. Then compare the obtained results using **accuracy, precision, recall, f1** measures.

In [ ]:
#code
X_train, X_test, y_train, y_test = train_test_split(data_concat.iloc[:,0:7], data_concat.iloc[:,-1], test_size=0.3, random_state=42)

In [ ]:
tree = tree.DecisionTreeClassifier()
tree.fit(X_train, y_train)

y_pred = tree.predict(X_test)

dt_acc = accuracy_score(y_test, y_pred)
dt_prec = precision_score(y_test, y_pred, average='macro')
dt_recall = recall_score(y_test, y_pred, average='macro')
dt_f1 = f1_score(y_test, y_pred, average='macro')

In [ ]:
random = RandomForestClassifier()
random.fit(X_train, y_train)

y_pred_ran = random.predict(X_test)

rf_acc = accuracy_score(y_test, y_pred_ran)
rf_prec = precision_score(y_test, y_pred_ran, average='macro')
rf_recall = recall_score(y_test, y_pred_ran, average='macro')
rf_f1 = f1_score(y_test, y_pred_ran, average='macro')

In [ ]:
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)

knn_acc = accuracy_score(y_test, y_pred_knn)
knn_prec = precision_score(y_test, y_pred_knn, average='macro')
knn_recall = recall_score(y_test, y_pred_knn, average='macro')
knn_f1 = f1_score(y_test, y_pred_knn, average='macro')

In [ ]:
nb = GaussianNB()
nb.fit(X_train, y_train)

y_pred_nb = nb.predict(X_test)

nb_acc = accuracy_score(y_test, y_pred_nb)
nb_prec = precision_score(y_test, y_pred_nb, average='macro')
nb_recall = recall_score(y_test, y_pred_nb, average='macro')
nb_f1 = f1_score(y_test, y_pred_nb, average='macro')

# **bold text**#3.4. Using selection feature to above dataset, then compare the classification results with those in Task 2.3.

In [ ]:
#code
test = SelectKBest(score_func=f_classif, k=4)
fit = test.fit(X, y)
set_printoptions(precision=3)
features = fit.transform(X)

In [ ]:
X = data_concat.iloc[:,0:7]
y =  data_concat.iloc[:,-1]

In [ ]:
model = LogisticRegression(solver='lbfgs')
rfe = RFE(estimator=model, n_features_to_select=3)
fit = rfe.fit(X, y)
print("Num Features: %d" % fit.n_features_)
print("Selected Features: %s" % fit.support_)
print("Feature Ranking: %s" % fit.ranking_)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Num Features: 3
Selected Features: [False False False False  True  True  True]
Feature Ranking: [2 3 4 5 1 1 1]

In [ ]:
pca = PCA(n_components=3)
fit = pca.fit(X)

print("Explained Variance: %s" % fit.explained_variance_ratio_)
print(fit.components_)

Explained Variance: [1.000e+00 1.294e-05 9.240e-06]
[[ 5.452e-07  6.464e-05 -5.333e-05  1.000e+00 -1.197e-04 -7.891e-05
  -7.697e-05]
 [ 4.341e-02  6.857e-02 -2.205e-01  5.893e-05 -2.397e-01  6.731e-01
   6.590e-01]
 [ 6.625e-01  6.705e-01  2.675e-01 -2.773e-06  1.929e-01 -5.503e-03
   5.189e-02]]

In [ ]:
model = ExtraTreesClassifier(n_estimators=10)
model.fit(X, y)
print(model.feature_importances_)

[0.003 0.001 0.004 0.004 0.002 0.66  0.327]

In [ ]:
clf=RandomForestClassifier(n_estimators=100)

clf.fit(X_train,y_train)

RandomForestClassifier()

In [ ]:
feature_imp = pd.Series(clf.feature_importances_,index=bank_data_set.feature_names).sort_values(ascending=False)
feature_imp

AttributeError: ignored

#Task 4. 
For a given dataset in the Lab #5 (**credit card dataset**), perform feature selection and thencompare the performance of selected classification algorithms (Decision Tree, kNN, Logistic Regression, SVM, Random Forest and NaiveBayes) based on accuracy, precision, recall, f1 measures.

In [ ]:
# code
card_data = pd.read_csv('/content/gdrive/MyDrive/MachineLearning/Lab5/creditcard.csv')

In [ ]:
array = card_data.values
X = array[:,0:8]
Y = array[:,8]

In [ ]:
test = SelectKBest(score_func=f_classif, k=4)
fit = test.fit(X, Y)

set_printoptions(precision=3)
print(fit.scores_)
features = fit.transform(X)
print(features[0:5,:])

[1.039e+01       inf       inf       inf       inf       inf 2.881e+14
       inf]
[[ 2.536  1.378 -0.338  0.24 ]
 [ 0.166  0.448  0.06  -0.079]
 [ 1.773  0.38  -0.503  0.791]
 [ 1.793 -0.863 -0.01   0.238]
 [ 1.549  0.403 -0.407  0.593]]

/usr/local/lib/python3.9/dist-packages/sklearn/feature_selection/_univariate_selection.py:113: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw

In [ ]:
model = LogisticRegression(solver='lbfgs')
rfe = RFE(estimator=model, n_features_to_select=3)
fit = rfe.fit(X, Y)

ValueError: ignored

In [ ]:
pca = PCA(n_components=3)
fit = pca.fit(X)

In [ ]:
model = ExtraTreesClassifier(n_estimators=10)
model.fit(X, Y)

In [ ]:
clf=RandomForestClassifier(n_estimators=100)

clf.fit(X_train,y_train)

In [ ]:
feature_imp = pd.Series(clf.feature_importances_,index=dataset.feature_names).sort_values(ascending=False)
feature_imp

In [ ]:
df = pd.DataFrame(bank_data_set['data'], columns =bank_data_set.feature_names)
df['species'] = bank_data_set['target']
X1=df.drop("Class",axis=1)
y1=df['class']                                       

X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.3, random_state=1)

In [ ]:
tree = tree.DecisionTreeClassifier()
tree.fit(X_train1, y_train1)

knn = KNeighborsClassifier()
knn.fit(X_train1, y_train1)

lr = LogisticRegression()
lr.fit(X_train1, y_train1)

svm = svm.SVC()
svm.fit(X_train1, y_train1)

rf = RandomForestClassifier()
rf.fit(X_train1, y_train1)

nb = GaussianNB()
nb.fit(X_train1, y_train1)

In [ ]:
dt_pred = tree.predict(X_test1)
dt_acc = accuracy_score(y_test1, dt_pred)
dt_prec = precision_score(y_test1, dt_pred, average='macro')
dt_recall = recall_score(y_test1, dt_pred, average='macro')
dt_f1 = f1_score(y_test1, dt_pred, average='macro')

In [ ]:
knn_pred = knn.predict(X_test1)
knn_acc = accuracy_score(y_test1, knn_pred)
knn_prec = precision_score(y_test1, knn_pred, average='macro')
knn_recall = recall_score(y_test1, knn_pred, average='macro')
knn_f1 = f1_score(y_test1, knn_pred, average='macro')

In [ ]:
lr_pred =lr.predict(X_test1)
lr_acc = accuracy_score(y_test1, lr_pred)
lr_prec = precision_score(y_test1, lr_pred, average='macro')
lr_recall = recall_score(y_test1, lr_pred, average='macro')
lr_f1 = f1_score(y_test1, lr_pred, average='macro')

In [ ]:
svm_pred = svm.predict(X_test1)
svm_acc = accuracy_score(y_test1, svm_pred)
svm_prec = precision_score(y_test1, svm_pred, average='macro')
svm_recall = recall_score(y_test1, svm_pred, average='macro')
svm_f1 = f1_score(y_test1, svm_pred, average='macro')

In [ ]:
rf_pred = rf.predict(X_test1)
rf_acc = accuracy_score(y_test1, rf_pred)
rf_prec = precision_score(y_test1, rf_pred, average='macro')
rf_recall = recall_score(y_test1, rf_pred, average='macro')
rf_f1 = f1_score(y_test1, rf_pred, average='macro')

In [ ]:

nb_pred = nb.predict(X_test1)
nb_acc = accuracy_score(y_test1, nb_pred)
nb_prec = precision_score(y_test1, nb_pred, average='macro')
nb_recall = recall_score(y_test1, nb_pred, average='macro')
nb_f1 = f1_score(y_test1, nb_pred, average='macro')

#Finally,
Save a copy in your Github. Remember renaming the notebook.